
.container_fluid.titlebar
  form.form-inline.titlebarForm
    select.location
      option 地區
      option test2
      option test3
    .form-group
      label(for='exampleInputName2') 日期範圍 
      input#exampleInputName2.form-control(type='text', placeholder='xxxx-xx')
   
      label(for='exampleInputName2') 至
      input#exampleInputName2.form-control(type='text', placeholder='xxxx-xx')
      span(class="fa fa-search")
    button.btn-success 發起活動
    .button
      button.btn-primary 達人教學
      button.btn-primary 咖啡課程
      button.btn-primary 咖啡店活動
      button.btn-primary 新手教學

 
//-   .date
//-     h3 日期範圍 
//-     input(type="text")
//-     h3 至
//-     input(type="text")
    
//-   .buttongroup
    button.btn-primary 達人教學
    button.btn-primary 咖啡課程
    button.btn-primary 咖啡店活動
    button.btn-primary 新手教學
    
.container.titleImg
  img(src="https://macicafedenver.com/wp-content/uploads/2014/10/coffee_slide.jpg", alt="")
  
.actionbar
  
  h3.label 達人教學
  h3.time 桃園市
    span 2017-10
    span 至 
    span 2017-11
    span 的活動
  select.quene
    option 排序方式
    option test2
    option test3
    
.container.card
  .row
    .col-sm-5.img
      img.actionImg(src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/A_small_cup_of_coffee.JPG/275px-A_small_cup_of_coffee.JPG", alt="")
    .col-sm-7.detail
      h2.actionTitle 和大師學手沖--手沖咖啡實作課
      p.page 一杯好口感的手沖咖啡，除了咖啡豆本身的品質，手沖時的水溫，濾杯，沖泡壺，沖泡手勢等等的變化都會影響咖啡的口感。在這堂課裡，老師會對每一個變項做清楚的說明。並讓同學試喝後發現口中的驚奇。

      h4 售價: 
        span NT$ 300元 
        span 招募剩餘10天
      .bar
        .joinNumber
        
      h3 已招募
        span 10
        span /
        span 30
        span 人
      p.dataLocation
        span.date 2017-09-24 舉辦
        span 桃園市

      a.info 詳細資訊
      
      
   
    
.container.card
  .row
    .col-sm-5.img
      img.actionImg(src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/A_small_cup_of_coffee.JPG/275px-A_small_cup_of_coffee.JPG", alt="")
    .col-sm-7.detail
      h2.actionTitle 和大師學手沖--手沖咖啡實作課
      p.page 一杯好口感的手沖咖啡，除了咖啡豆本身的品質，手沖時的水溫，濾杯，沖泡壺，沖泡手勢等等的變化都會影響咖啡的口感。在這堂課裡，老師會對每一個變項做清楚的說明。並讓同學試喝後發現口中的驚奇。

      h4 售價: 
        span NT$ 300元 
        span 招募剩餘10天
      .bar
        .joinNumber
        
      h3 已招募
        span 10
        span /
        span 30
        span 人
      p.dataLocation
        span.date 2017-09-24 舉辦
        span 桃園市

      a.info 詳細資訊
      
      
.container.card
  .row
    .col-sm-5.img
      img.actionImg(src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/A_small_cup_of_coffee.JPG/275px-A_small_cup_of_coffee.JPG", alt="")
    .col-sm-7.detail
      h2.actionTitle 和大師學手沖--手沖咖啡實作課
      p.page 一杯好口感的手沖咖啡，除了咖啡豆本身的品質，手沖時的水溫，濾杯，沖泡壺，沖泡手勢等等的變化都會影響咖啡的口感。在這堂課裡，老師會對每一個變項做清楚的說明。並讓同學試喝後發現口中的驚奇。

      h4 售價: 
        span NT$ 300元 
        span 招募剩餘10天
      .bar
        .joinNumber
        
      h3 已招募
        span 10
        span /
        span 30
        span 人
      p.dataLocation
        span.date 2017-09-24 舉辦
        span 桃園市

      a.info 詳細資訊
      
  