doctype html
html
  head
    meta(charset='UTF-8')
    title 後端首頁0902
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='font-awesome-4.7.0/css/font-awesome.css')
    link(rel='stylesheet', href='font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .container_fluid.titlebar
      a.form-inline.titlebarForm(href='main.html')
        img.icon(src='images/BeanLifeLogo2.png')
        h1 Bean-Life
    // .left是左邊導覽列的部分
    // .left選擔部分0910修正選單內容
    // 0910 玲當部份新增下拉選單
    .container.card
      .row
        .col-xs-2.left
          a.h3.title.act(href='#action', aria-expanded='false', aria-controls='action', data-toggle='collapse', style='text-decoration: none')
            .fa.fa-futbol-o
            a.h3  活動審核
          a.h3.title(href='#check', aria-expanded='false', aria-controls='check', data-toggle='collapse', style='text-decoration: none')
            .fa.fa-check-circle
            span.h3 檢舉管理
            ul#check.collapse
              a 評論檢舉
              a 商品檢舉
              a 討論區檢舉
          a.h3.title(href='#mem', aria-expanded='false', aria-controls='mem', data-toggle='collapse', style='text-decoration: none')
            .fa.fa-address-card-o
            span.h3 會員管理
            ul#mem.collapse
              a 會員資料管理
              a 廠商店家授權
              a 積分管理
          a.h3.title(href='#admin', aria-expanded='false', aria-controls='admin', data-toggle='collapse', style='text-decoration: none')
            .fa.fa-user-o  
            span.h3 管理員管理
            ul#admin.collapse
              a 管理帳戶授權
              a 帳戶管理
          a.h3.title(href='#gift', aria-expanded='false', aria-controls='gift', data-toggle='collapse', style='text-decoration: none')
            .fa.fa-gift  
            span.h3 平台業務管理
            ul#gift.collapse
              a 廣告管理
              a 兌換贈品管理
              a 兌換贈品業務管理
        .right.col-xs-10
          .col-xs-12.right_top
            img(src='https://imgapiv2.nownews.com/?w=1080&q=85&src=https://img.nownews.com/nownews_production/images/59a2705481971c28ba673bb6_201708271510.jpg', alt='')
            h2 你好
            a.fa.fa-bell.dropdown-toggle(href='#', data-toggle='dropdown')
            ul.dropdown-menu
              li
                a 10項檢舉未處理
              li
                a 10項活動未審核
              li
                a 10項廠商會員申請未審核
              li
                a 10項兌換贈品申請
          .col-xs-12.right_middle
            .col-xs-12
              h2.check 待審核
          .col-xs-12.right_bottom
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='js/index.js')
