* {
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee8e1;
}

.title {
  display: flex;
  justify-content: space-around;
}

.gift {
  margin-top: 30px;
}
.gift .range {
  margin-top: 50px;
}
.gift .card {
  border: solid 1px black;
  padding: 0px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #eee;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
}
.gift .card:hover {
  box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.4);
  transform: translate(-5px, -5px);
  overflow: hidden;
}
.gift .card img {
  border: solid 1px black;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}
.gift .card .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.gift .card .getitem {
  display: flex;
}
.gift .card .getitem button {
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 15px;
}
.gift .card .upTime {
  display: flex;
  margin-top: 20px;
}
