* {
  position: relative;
}



.title {
  display: flex;
  justify-content: space-around;
}

.gift {
  margin-top: 30px;
}
.gift .range {
  margin-top: 50px;
}

.gift .card:hover {
  box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.4);
  transform: translate(-5px, -5px);
  overflow: hidden;
}

.gift .card .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.gift .card .getitem {
  display: flex;
}
.gift .card .getitem button {
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 15px;
}
.gift .card .upTime {
  display: flex;
  margin-top: 20px;
}
