* {
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee8e1;
}

.third {
  color: white;
  background-color: #6F5C60;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}
.circles .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px black;
}
.circles .circle h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -110%);
}
.circles .line {
  width: 50px;
  border: solid 5px black;
}

.title {
  text-align: center;
}

.endMessage {
  border: solid 1px black;
  padding: 30px 50px;
  border-radius: 50px;
  margin-top: 50px;
}

h2 {
  display: inline-block;
  font-size: 25px;
}

.next {
  height: 100px;
}
.next .previous {
  position: absolute;
  right: 35%;
  top: 30%;
}


.bottom {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: bold;
}
